Repository umijs/umi, pull requests merged in 2020-01, with the labels that each got.

#3819 fix: router type
  packages/umi/router.d.ts
  packages/umi/src/utils.js
Labels: type(TypeScript)

#3854 tweak: umi-ui use umi hooks
  docs/plugin/umi-ui.md
  docs/zh/plugin/umi-ui.md
  packages/umi-build-dev/src/plugins/commands/block/ui/client/GlobalSearch.tsx
  packages/umi-types/package.json
  packages/umi-types/ui.d.ts
  packages/umi-ui/client/src/PluginAPI.ts
  packages/umi-ui/client/src/components/ConfigForm/common/useToggle.ts
  packages/umi-ui/client/src/components/ConfigForm/index.tsx
  packages/umi-ui/client/src/pages/project/components/create/Form1.tsx
  packages/umi-ui/client/src/pages/project/components/create/Form2.tsx
Labels: pkg(umi-ui), pr(enhancement)

#3860 fix: umi ui flag error in child function
  package.json
  packages/af-webpack/package.json
  packages/babel-preset-umi/package.json
  packages/babel-preset-umi/src/index.test.js
  packages/babel-preset-umi/yarn.lock
  packages/umi-build-dev/package.json
  packages/umi-build-dev/src/Service.test.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/body-jsx-fragment/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/body-jsxelement/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/export-class-without-render/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/export-class/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/export-function/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/export-identifier-function/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/export-identifier-variable-functionexpression/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/export-identifier-variable/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/ibp-normal/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/return-hoc-identifier-hoc/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/return-hoc-in-hoc/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/return-hoc/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/return-jsxelement/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/return-one-element/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-blacklist-antd-card/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-blacklist-antd-step/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-blacklist-not-import/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-blacklist-tech-ui-PageContainer/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-blacklist-tech-ui-StepForm/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-blacklist/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-only-one-child-typescript/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-only-one-child-typescript/origin.tsx
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-only-one-child/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-only-one-child/origin.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-only-one-multiply/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/root-only-one-multiply/origin.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/typescript/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/index.test.ts
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/index.ts
  packages/umi-build-dev/src/plugins/commands/block/sdk/insertComponent/index.test.ts
  packages/umi-build-dev/src/plugins/commands/block/sdk/util.ts
  packages/umi-build-dev/src/plugins/commands/block/ui/server/socketHandlers/index.test.ts
  packages/umi-core/package.json
  packages/umi-plugin-auto-externals/package.json
  packages/umi-plugin-react/package.json
  packages/umi-plugin-routes/package.json
  packages/umi-plugin-ui/package.json
  packages/umi-serve/package.json
  packages/umi-test/package.json
  packages/umi-test/yarn.lock
  packages/umi-types/package.json
  packages/umi-types/ui.d.ts
  packages/umi-types/yarn.lock
  packages/umi-ui-tasks/package.json
  packages/umi-ui/package.json
  packages/umi/package.json
  packages/umi/src/babel.test.js
  packages/umi/test/dev.e2e.js
  packages/umi/test/ui.e2e.ts
  packages/umi/yarn.lock
Labels: pkg(umi-ui), pr(bug)

#3855 chore(umi-plugin-react): upgrade the preact version to 10.x
  packages/umi-plugin-react/package.json
  packages/umi-plugin-react/src/plugins/library.js
  packages/umi-plugin-react/yarn.lock
  packages/umi/test/fixtures/build/preact/.umirc.js
  packages/umi/test/fixtures/build/preact/Loading.js
  packages/umi/test/fixtures/build/preact/locales/en-US.js
  packages/umi/test/fixtures/build/preact/locales/zh-CN.js
  packages/umi/test/fixtures/build/preact/package.json
  packages/umi/test/fixtures/build/preact/pages/$user.js
  packages/umi/test/fixtures/build/preact/pages/a.js
  packages/umi/test/fixtures/build/preact/pages/b/_mock.js
  packages/umi/test/fixtures/build/preact/pages/b/c.js
  packages/umi/test/fixtures/build/preact/pages/index.js
  packages/umi/test/fixtures/build/preact/public/script2.js
  packages/umi/test/fixtures/build/preact/test.js
Labels: pkg(umi-plugin-react), pr(dependency)

#3868 fix: setConfig uppercase strings
  packages/umi-build-dev/src/plugins/commands/config/setConfig.js
  packages/umi-build-dev/src/plugins/commands/config/setConfig.test.js
Labels: pr(bug)

#3869 fix: ui hooks compat
  docs/guide/develop-umi-ui-plugin.md
  docs/zh/guide/develop-umi-ui-plugin.md
  packages/umi-build-dev/src/plugins/commands/block/ui/client/GlobalSearch.tsx
  packages/umi-plugin-ui/src/plugins/dashboard/ui/plugins/dailyReport.module.less
  yarn.lock
Labels: pkg(umi-ui), pr(bug)

#3437 doc: ”访问/api/users“ 描述错误， 改为”访问/api/currentUser“
  docs/zh/guide/mock-data.md
Labels: pr(documentation)

#3893 feat: support UI flag component from umi
  docs/guide/develop-umi-ui-plugin.md
  docs/zh/guide/develop-umi-ui-plugin.md
  packages/umi-build-dev/src/plugins/commands/block/appendBlockToContainer.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/constants.ts
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/GUmiUIFlag.tsx
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/ibp-component-flag/expected.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/fixtures/ibp-component-flag/origin.js
  packages/umi-build-dev/src/plugins/commands/block/sdk/flagBabelPlugin/index.ts
  packages/umi-build-dev/src/plugins/commands/block/sdk/insertComponent/index.ts
  packages/umi-build-dev/src/plugins/commands/block/ui/server/core/Flow.ts
  packages/umi/.fatherrc.js
  packages/umi/UmiUIFlag.d.ts
  packages/umi/index.d.ts
  packages/umi/src/UmiUIFlag.tsx
Labels: pkg(umi-ui), pr(enhancement)

#3902 fix: umi ui bubble conflict
  packages/umi-plugin-ui/src/bubble/Bubble.jsx
  packages/umi-plugin-ui/src/bubble/Dragger/index.jsx
  packages/umi-plugin-ui/src/bubble/Modal.jsx
Labels: pkg(umi-ui), pr(bug)

#3907 feat: expose "urls" on "onDevCompileDone" hook.
  packages/af-webpack/src/dev.js
  packages/umi-build-dev/src/plugins/commands/dev/index.js
Labels: pr(enhancement)

#3906 fix: ui bubble line-heigth and add umi-request api
  packages/babel-preset-umi/src/index.test.js
  packages/babel-preset-umi/yarn.lock
  packages/umi-plugin-ui/src/bubble/Bubble.jsx
  packages/umi-types/ui.d.ts
  packages/umi-ui/client/src/PluginAPI.ts
  packages/umi/src/babel.test.js
  packages/umi/yarn.lock
Labels: pr(bug), pr(enhancement)

#3909 fix: ui dark theme var
  packages/umi-ui-theme/dark.less
  packages/umi-ui-theme/test/index.test.ts
Labels: pkg(umi-ui), pr(chore)

#3917 fix: umi ui flag ts
  packages/umi/package.json
Labels: pr(bug)

#3923 fix: ui message group error
  packages/umi-ui/client/src/components/Logs/index.tsx
Labels: pr(bug)

#3931 fix: umi-ui moment locale
  packages/umi-ui/client/src/layouts/Layout.tsx
Labels: pkg(umi-ui), pr(bug)

#3940 chore: mini redirect blocks
  packages/umi-ui/src/UmiUI.ts
Labels: pkg(umi-ui), pr(chore)

#3949 chore: upgrade umi ui version
  packages/umi-build-dev/package.json
  packages/umi-build-dev/yarn.lock
  packages/umi-plugin-react/package.json
  packages/umi-plugin-react/yarn.lock
  packages/umi/package.json
  packages/umi/yarn.lock
  scripts/uiPlugins.js
Labels: pr(chore)
